body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f70505;
  }
  
  .question-container {
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    position: relative; /* Posición relativa para alinear el mensaje */
  }
  
  .question {
    background-color: #ff5a01;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px; /* Espacio adicional arriba de los botones */
  }
  
  button {
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  #message {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    color: rgb(127, 27, 27);
    font-size: 3rem;
    z-index: 1000; /* Z-index alto para superponer sobre todo */
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding en el tamaño total */
  }
  
  .message-content {
    background-color: #4CAF50; /* Color de fondo del mensaje */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  